body {
    margin: 0;
    font-family: 'Economica bold';
}


.nav {
    border: 0 solid #A64DFF;
    background-color: #A64DFF;
}

.menu {
    text-align: justify;
    width: 900px;
    margin:0 auto;
    height: 40px;
}

.menu ul {
    display: inline;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    display: inline-block;
}

.menu span {
    display: inline-block;
    width: 100%;
    height: 0;
    font-size: 0;
}

a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    line-height: 40px;
    padding: 0 5px
}

.menu a:hover {
    background-color: #EEE;
    color: #A0A0A0;
}